.header__top {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    &_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px  0;
    }
}

.menu {
    &__list {
        display: flex;
        &-item {
            padding: 0 20px;
            transition: .3s ease-out;
        }
    }
}

.hamburger  {
    display: none;
    cursor: pointer;
    span {
        display: block;
        margin: 6px;
        width: 35px;
        height: 3px;
        background-color: #fff;
    }
}

.hamburger-menu {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    position: fixed;
    width: 200px;
    height: 100vh;
    right: -100%;
    visibility: hidden;
    background-color: #8B0000;
    z-index: 10;
    transition: all .6s;
    &__list {
        margin: 120px 0 0 20px;
    }
    li {
        padding-bottom: 15px;
    }
    &__close {
        position: absolute;
        right: 25px;
        top: 25px;
        cursor: pointer;
    }   
}


.active {
    right: 0;
    visibility: visible;
}


.header {
    height: 100vh;
    background-image: url('../img/home-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    &__content {
        padding-top: 300px;
        max-width: 600px;
        text-align: center;
    }
    &__title {
        span {
            text-transform: uppercase;
        }
    }
    &__text {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 200px;
    }
}



