.top-films {
    background-color: #252525;
    padding-top: 50px;
    &__title {
        text-align: center;
    }
}

.movies {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie {
    position: relative;
    margin: 10px;
    width: 300px;
    img {
        width: 300px;
        height: 400px;
    }
    &__name {
        padding: 5px 0;
        font-size: 16px;
    }
    &__genres {
        color: #BB0000;
        font-size: 16px;
    }
    &__rating {
        font-family: 'Roboto', sans-serif;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 10px;
        left: 10px;
        background-color: #252525;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 14px;
        &_green {
            border: 2px solid green;
        }
        &_orange {
            border: 2px solid orange;
        }
        &_red {
            border: 2px solid red;
        }
    }
}