html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #000;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0.9187935034802784) 0%, rgba(0,0,0,0.8259860788863109) 0%, rgba(14,139,179,1) 93%);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    border: 2px solid #000;
    border-radius: 20px;
    margin: 50px auto;
    max-width: 600px;
}

ul {
    padding-inline-start: 0;
}

ul li {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    margin: 0 auto;
    &:hover {
        background-color: blue;
    }
}

.title {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    text-align: center;
}

.list__wrapper {

}

.form {
    margin: 0 auto;
    text-align: center;
}

.input {
    padding: 5px;
    width: 250px;
    margin-right: 10px;
}

.add-btn {
    cursor: pointer;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: blue;
}

.done {
    opacity: 0.5;
}

.btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
}