@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto&display=swap');
@import 'normalize';
@import 'general';


@import 'blocks/header';
@import 'blocks/topfilms';
@import 'blocks/mylist';
@import 'blocks/scroll';




@import 'media';
